section.footer 
  .footer__wrapper.flex.jcsb
    .footer__block.flex.column 
      a(href="").footer__logo
        img(src="static/img/logo-black.svg", alt="ex-co")
      p.footer__logo-text EX.CO (formerly known as Playbuzz) is a Disney backed tech platform used by businesses and publishers worldwide to create their best performing content. 
    ul.footer__menu 
      li 
        a(href="#") Businesses
      li 
        a(href="#") Publishers
      li 
        a(href="#") About Us
      li 
        a(href="#") Contact Us
      li 
        a(href="#") Pricing
      li 
        a(href="#") News
      li 
        a(href="#") Careers
      li 
        a(href="#") Trust
      li 
        a(href="#") GDPR FAQs
      li 
        a(href="#") Privacy Policy
      li 
        a(href="#") Online Terms
    .soc.footer__block.flex.column
      p.soc__follow-us Follow us 
      .soc__icons.flex.jcsb
        a(href="").soc__icon
          img(src="static/img/footer/si-1.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-2.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-3.svg", alt="")
