section.hi
  h2.ch-title.text-center.up Come say hi
  .hi__wrapper.flex.row.fww.jcsb 
    a(href="", style="background-image: url(static/img/hi/tel-aviv.jpg)").hi__item.flex.aic.jcc
      h3.hi__item-title TEL AVIV
      .hi__item-hover
        h4 TEL AVIV ISRAEL
        p 123 Drumalo Mall St. New York, SW1Y 5ED,
        p P +001 13 245 643 F +001 13 123 412
    .hi__item-info
      h4 TEL AVIV, ISRAEL
      p 123 Drumalo Mall St. New York, SW1Y 5ED,
      p P +001 13 245 643 | F +001 13 123 412
    a(href="", style="background-image: url(static/img/hi/new-york.jpg)").hi__item.flex.aic.jcc
      h3.hi__item-title New York City
      .hi__item-hover
        h4 TEL AVIV ISRAEL
        p 123 Drumalo Mall St. New York, SW1Y 5ED,
        p P +001 13 245 643 F +001 13 123 412
    .hi__item-info
      h4 TEL AVIV, ISRAEL
      p 123 Drumalo Mall St. New York, SW1Y 5ED,
      p P +001 13 245 643 | F +001 13 123 412
    a(href="", style="background-image: url(static/img/hi/london.jpg)").hi__item.flex.aic.jcc
      h3.hi__item-title London
      .hi__item-hover
        h4 TEL AVIV ISRAEL
        p 123 Drumalo Mall St. New York, SW1Y 5ED,
        p P +001 13 245 643 F +001 13 123 412
    .hi__item-info
      h4 TEL AVIV, ISRAEL
      p 123 Drumalo Mall St. New York, SW1Y 5ED,
      p P +001 13 245 643 | F +001 13 123 412
    a(href="", style="background-image: url(static/img/hi/lviv.jpg)").hi__item.flex.aic.jcc
      h3.hi__item-title Lviv
      .hi__item-hover
        h4 TEL AVIV ISRAEL
        p 123 Drumalo Mall St. New York, SW1Y 5ED,
        p P +001 13 245 643 F +001 13 123 412
    .hi__item-info
      h4 TEL AVIV, ISRAEL
      p 123 Drumalo Mall St. New York, SW1Y 5ED,
      p P +001 13 245 643 | F +001 13 123 412