section.get-engaged
  .flex.jcc
    h2.ch-title.ch-title--big.ch-title--white.up.ch-title-scripted Get&nbsp;  
    h2.ch-title.ch-title--big.ch-title--white.up.ch-title-scripted.fs(data-row='4', data-speed='2000') Engaged
  .get-engaged__wrapper
    p Sign up now to take the tools for a 
      a(href="") test spin.
    p You'll never create content the same way again. 
  a(href="").ch-button.ch-button--white.ch-button--centered Start Creating