.our-story
  padding: 49px 24px 50px
  @media only screen and (max-width: 768px)
    padding: 33px 24px 47px
  &__wrapper
    max-width: 1286px
    margin: 0 auto
    @media only screen and (max-width: 768px)
      flex-direction: column
      align-items: center
  &__block
    width: 50%
    position: relative
    @media only screen and (max-width: 768px)
      width: auto
    &:first-child 
      @media only screen and (max-width: 768px)
        display: flex
        align-items: center
        justify-content: center
    &:last-child 
      margin-left: 80px
      @media only screen and (max-width: 768px)
        margin-left: 0
        text-align: center
    &-text 
      max-width: 525px
      @media only screen and (max-width: 768px)
        line-height: 25px
      & > *
        &:first-child 
          margin: 51px 0 25px
          @media only screen and (max-width: 768px)
            margin: 20px 0
  &__img-wrapper
    width: 632px
    height: 466px
    padding: 8px
    box-sizing: border-box
    @media only screen and (max-width: 1150px)
      width: 460px
      height: 405px
    @media only screen and (max-width: 930px)
      width: 329px
      height: 297px
      position: relative
    @media only screen and (max-width: 768px)
      bottom: 0
      margin-bottom: 47px
    @media only screen and (max-width: 365px)
      width: 299px
      height: 267px
  &__img 
    width: 100%
    height: 100%
    overflow: hidden
    img 
      width: 100%

.experience 
  background-color: #FAFAFA
  padding: 84px 0 97px
  .ch-title
    max-width: 500px
    margin: 0 auto
    @media only screen and (max-width: 768px)
      max-width: 300px
  &__wrapper 
    position: relative
    max-width: 782px
    margin: 37px auto 0
    @media only screen and (max-width: 768px)
      max-width: 500px
  &__right,
  &__left 
    width: 91px
    height: 91px
    background-color: $main__white
    border-radius: 50% 
    cursor: pointer
    transition: all .2s ease
    @media only screen and (max-width: 1310px)
      width: 64px
      height: 64px
    &:hover 
      background-color: #FAFAFA
      img 
        // transform: translateX(5px)
    img
      width: 28px
      transition: all .2s ease
      @media only screen and (max-width: 1310px)
        width: 15px
  &__right 
    position: absolute
    right: -240px
    top: 16%
    @media only screen and (max-width: 1310px)
      right: -80px
      top: 40%
    @media only screen and (max-width: 1000px)
      right: 180px
      top: 19%
      z-index: 99
    @media only screen and (max-width: 768px)
      right: 24px
      top: 10%
  &__left 
    position: absolute
    left: -240px
    top: 16%
    transform: scaleX(-1)
    @media only screen and (max-width: 1290px)
      left: -80px
      top: 40%
    @media only screen and (max-width: 1000px)
      left: 180px
      top: 19%
      z-index: 99
    @media only screen and (max-width: 768px)
      left: 24px
      top: 10%
  &__slider
    width: 100%
  &__slide
    display: flex!important
    flex-direction: row
    outline: none
    @media only screen and (max-width: 1000px)
      flex-direction: column
      align-items: center
      padding: 0 24px
    img 
      width: 100%
  &__slide-img
    width: 194px
    @media only screen and (max-width: 768px)
      width: 98px
  &__slide-text
    max-width: 500px
    margin-left: 90px
    margin-top: 37px
    @media only screen and (max-width: 1000px)
      text-align: center
      margin-left: 0
  .slick-dots
    @media only screen and (max-width: 1000px)
      bottom: -55px


  