.careers
  padding: 62px 24px 78px
  text-align: center
  @media only screen and (max-width: 768px)
    padding: 39px 24px 20px
  & > *
    &:first-child
      margin-bottom: 20px
    &:last-child
      max-width: 890px
      margin: 0 auto