.document
  padding: 30px 24px
  @media only screen and (max-width: 768px)
    padding: 19px 30px
  &__wrapper
    max-width: 1092px
    margin: 0 auto 
    & > *
      &:first-child
        margin: 0
  &__separator
    width: 100%
    height: 2px
    background-color: #d8d8d8
    margin: 50px 0
  h3 
    margin-bottom: 5px!important
    font-size: 20px
    letter-spacing: -0.28px
    font-weight: 600
    margin-top: 30px!important
    @media only screen and (max-width: 768px)
      font-size: 14px
      margin-bottom: 0!important
  p,
  li 
    font-size: 18px
    letter-spacing: -0.28px
    font-weight: 300
    line-height: normal
    @media only screen and (max-width: 768px)
      font-size: 14px
  p,
  ul
    margin-bottom: 20px!important
  ul 
    margin: 0
    padding: 0
  li 
    margin-left: 17px
    position: relative
    &:not(:last-child)
      margin-bottom: 15px
    &:before 
      content: ''
      position: absolute
      top: 10px
      left: -17px
      width: 7px
      height: 7px
      background-color: $main__blue
      border-radius: 50%
  ul 
    li 
      ul 
        li 
          &:before 
            content: ''
            position: absolute
            top: 10px
            left: -17px
            width: 7px
            height: 7px
            background-color: #010101
            border-radius: 50%
  a 
    color: $main__blue
