.engage 
  padding: 56px 0 48px
  transition: all .2s ease
  .ch-title
    max-width: 585px
    margin: 0 auto
    padding: 0 24px
  .slick-track
    min-height: 332px
    @media only screen and (max-width: 400px)
      min-height: 287px
  &__wrapper--desktop 
    max-width: 1170px
    margin: 20px auto 0
    transition: all .2s ease
    @media only screen and (max-width: 940px)
      display: none
  &__list
    margin: 45px 115px 0 0
    @media only screen and (max-width: 1100px)
      margin: 45px 50px 0 0
  &__item
    cursor: pointer
    font-size: 18px
    font-family: $m__font
    font-weight: 600
    color: #C2C2C2
    padding: 9px 0
    border-bottom: 1px solid #DFDFDF
    transition: all .2s ease
    &:hover 
      color: $main__blue 
    &--active 
      color: $main__blue 
    &:first-child
      border-top: 1px solid #DFDFDF
    @media only screen and (max-width: 940px)
      color: $main__blue
      text-align: center
      border: none
      padding: 13px 0 30px
  &__item-see-all
    padding-top: 13px
    a 
      transition: all .2s ease
      color: #00BDFF
      &:hover 
        color: $main__blue 
  &__photo-block
    margin-top: 50px
    min-height: 100%
    transition: max-height .2s ease
    overflow: hidden 
    p 
      max-width: 418px
      margin: 31px auto 18px!important
  &__photo
    position: relative
    width: 497px
  &__photo-wrapper 
    width: 100%
    max-height: fit-content
    transition: max-height .2s ease
    img   
      width: 100%
  &__photo-wrapper--is-hidden
    position: absolute
    // transform: translateY(-100%)
    opacity: 0
  &__wrapper--mobile
    display: none
    margin-top: 30px
    @media only screen and (max-width: 940px)
      display: block
    p
      padding: 0 24px
  &__wrapper--mobile-block
    padding: 0 24px
  &__slide 
    width: 295px
    margin: 13px 10px 0
    box-sizing: border-box!important
    opacity: .3
    outline: none
    transition: all .2s ease
    @media only screen and (max-width: 400px)
      width: 245px
      margin: 13px 5px 0
    img 
      width: 100%
  &__slider 
    display: flex!important
    flex-direction: row
    align-items: center
    .slick-current
      width: 325px
      margin: 0 10px
      box-sizing: border-box!important
      opacity: 1
      margin-top: 0
      @media only screen and (max-width: 400px)
        width: 275px
        margin: 0 5px

.deliver 
  padding: 77px 24px
  background-color: #fafafa
  .ch-title
    max-width: 401px
    margin: 0 auto
    @media only screen and (max-width: 768px)
      max-width: 310px 
  &__wrapper
    margin-top: 44px
    & > *
      &:first-child
        p
          max-width: 203px
          margin: 0 auto
      &:nth-child(2)
        p
          max-width: 252px
          margin: 0 auto
      &:last-child 
        p
          max-width: 234px
          margin: 0 auto
    @media only screen and (max-width: 880px)
      flex-direction: column
  &__separator 
    width: 1px
    height: 123px
    background-color: #E6E6E6
    @media only screen and (max-width: 880px)
      display: none
  &__item
    text-align: center
    width: 252px
    @media only screen and (max-width: 880px)
      background-color: $main__white
      padding: 30px
      box-shadow: 0 2px 15px 0 rgba(0,0,0,0.03)
      &:not(:last-child)
        margin-bottom: 20px
    @media only screen and (max-width: 380px)
      width: 100%
      box-sizing: border-box
    &-img 
      height: 121px
      @media only screen and (max-width: 380px)
        height: 100px
      img 
        height: 100%
        width: auto!important
    &-title 
      margin: 28px 0 5px
      font-family: $m__font	
      font-size: 21px
      line-height: 70px

.brands
  padding: 70px 24px 97px
  &__wrapper 
    max-width: 920px
    margin: 60px auto 0
    position: relative
    @media only screen and (max-width: 1315px)
      max-width: 720px
    @media only screen and (max-width: 860px)
      max-width: 500px
    @media only screen and (max-width: 768px)
      margin: 28px auto 0
      max-width: 300px
    @media only screen and (max-width: 360px)
      max-width: 270px
  .ch-title
    max-width: 445px
    margin: 0 auto
    @media only screen and (max-width: 768px)
      max-width: 345px
  &__slide
    outline: none
    display: flex!important
  &__brand 
    width: 185px
    height: 112px 
    display: flex
    align-items: center
    justify-content: center
    @media only screen and (max-width: 1315px)
      width: 145px
      height: 80px
    @media only screen and (max-width: 860px)
      width: 100px
      height: 60px
    @media only screen and (max-width: 350px)
      width: 90px
      height: 50px
    img 
      width: auto 
      height: auto 
      max-width: 153px 
      max-height: 65px 
      @media only screen and (max-width: 860px)
        height: 60%
        width: 70%
  &__right,
  &__left
    width: 91px
    height: 91px
    background-color: #f7f7f7
    border-radius: 50% 
    cursor: pointer
    transition: all .2s ease
    @media only screen and (max-width: 1315px)
      width: 50px
      height: 50px
    @media only screen and (max-width: 900px)
      display: none!important
    &:hover 
      background-color: #dbdbdb
      // img 
        // transform: translateX(5px)
    img
      width: 28px
      transition: all .2s ease
      @media only screen and (max-width: 1315px)
        width: 15px
  &__right 
    position: absolute
    right: -170px
    top: 35%
    @media only screen and (max-width: 1315px)
      right: -80px
      top: 40%
  &__left 
    position: absolute
    left: -170px
    top: 35%
    transform: scaleX(-1)
    @media only screen and (max-width: 1315px)
      left: -80px
      top: 40%
  .slick-dots
    display: none!important
    bottom: -55px
    @media only screen and (max-width: 900px)
      display: block!important

.slick-dots
  li 
    button
      &:before
        width: 9px
        height: 9px
        background-color: $main__blue
        content: ''
        border-radius: 50%
  



