.news-slider
  background-color: #fcfcfc
  padding: 64px 0 34px
  @media only screen and (max-width: 768px)
    padding: 21px 0 17px
  .slick-dots
    display: none!important
    @media only screen and (max-width: 1280px)
      display: block!important
      bottom: -45px
  &__wrapper 
    max-width: 1170px
    margin: 0 auto
    position: relative
  &__arrow-right,
  &__arrow-left
    display: block!important
    width: 25px
    cursor: pointer 
    outline: none
    transition: all .2s ease
    img 
      width: 28px
      transition: all .2s ease
    &:hover 
      img
        transform: translateX(5px)
    @media only screen and (max-width: 1280px)
      display: none!important
  &__arrow-right 
    position: absolute
    right: -40px
    top: 45%
  &__arrow-left 
    position: absolute
    left: -40px
    top: 45%
    transform: scaleX(-1)
  &__slide
    display: flex!important
    flex-direction: row
    border-radius: 3px
    overflow: hidden
    background-color: $main__white
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.03)
    height: 316px
    box-sizing: border-box
    margin: 20px
    outline: none
    @media only screen and (max-width: 1280px)
      margin: 24px
    @media only screen and (max-width: 1160px)
      height: fit-content
    @media only screen and (max-width: 768px)
      flex-direction: column
      align-items: center
  &__img 
    max-width: 565px
    @media only screen and (max-width: 768px)
      max-width: 100%
      width: 100%
    img
      height: 100%
      width: 100%
      @media only screen and (max-width: 768px)
        height: auto
  &__info
    padding: 45px 77px 59px 59px
    box-sizing: border-box
    max-width: 595px
    @media only screen and (max-width: 1080px)
      padding: 17px 15px 34px
    @media only screen and (max-width: 768px)
      text-align: center
    p 
      font-size: 14px
      line-height: 1.5
    .ch-title
      @media only screen and (max-width: 890px)
        font-size: 26px
        line-height: 28px
      @media only screen and (max-width: 768px)
        font-weight: 600
  &__row  
    & > *
      &:last-child
        margin-left: auto
        @media only screen and (max-width: 768px)
          margin-left: 0
          margin-top: 27px
    @media only screen and (max-width: 768px)
      margin-top: 24px
      flex-direction: column
      align-items: center
  &__meta-wrapper
    display: flex
    align-items: center
    @media only screen and (max-width: 768px)
      margin-right: 77px
    @media only screen and (max-width: 350px)
      flex-direction: column
      align-items: center
      margin: 0
  &__logo
    width: 46px
    margin-right: 26px
    @media only screen and (max-width: 350px)
      margin: 0
      margin-bottom: 10px
    img
      width: 100%

.news
  background-color: #fcfcfc
  padding: 54px 24px 37px
  @media only screen and (max-width: 1180px)
    padding: 54px 11px 37px
  @media only screen and (max-width: 768px)
    padding: 17px 11px
  &__wrapper
    max-width: 1130px
    margin: 0 auto
    flex: 1 1 400px
    @media only screen and (max-width: 1180px)
      align-items: center
      justify-content: center
  &__item 
    position: relative
    display: block
    width: 362px 
    height: 408px
    margin-bottom: 26px
    border-radius: 4px
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.03)
    box-sizing: border-box
    overflow: hidden
    background-color: $main__white
    transition: all .2s ease
    &:hover 
      box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.03)
      .news__hover 
        opacity: 1
        transform: translateX(0)
        visibility: visible
    @media only screen and (max-width: 1180px)
      margin: 13px
  &__img 
    height: 205px
    overflow: hidden
    img 
      // height: 100%
      width: 100%
  &__info
    padding: 27px 41px 32px 35px
    @media only screen and (max-width: 768px)
      padding: 27px 33px 34px
    h3 
      font-family: $m__font
      font-size: 21px
      font-weight: 400
    p 
      font-size: 14px
      line-height: 1.5
  &__meta-box 
    margin-top: 25px
  &__meta-img 
    width: 46px
    height: 28px
    margin-right: 26px
    img 
      height: 100%
    &--hover
      background-color: $main__white
      border-radius: 50%
      width: 60px
      height: 60px
      display: flex
      align-items: center
      justify-content: center
      img 
        width: 30px
        height: auto
      @media only screen and (max-width: 410px)
        width: 40px
        height: 40px
  &__meta-info
    &--hover
      p
        color: $main__white
  &__hover 
    position: absolute
    top: 0  
    left: 0
    width: 100%
    height: 100%
    padding: 138px 42px 27px 34px
    box-sizing: border-box  
    background-image: linear-gradient(to bottom, rgba(40, 160, 249, .8) -37%, #28a0f9)
    opacity: 0
    transform: translateX(-5%)
    visibility: hidden
    transition: all .4s ease
    @media only screen and (max-width: 410px)
      padding: 108px 42px 27px 34px
    h3
      font-family: $m__font
      font-size: 21px
      font-weight: 400
      color: $main__white
  &__hover-separator 
    width: 100%
    height: 1px
    opacity: 0.38
    background-color: $main__white
    margin: 25px 0 22px
  &__load-more
    font-size: 16px
    color: $main__blue
    font-weight: 600
    display: block
    width: fit-content
    margin: 0 auto
    transition: all .2s ease
    @media only screen and (max-width: 1180px)
      margin-top: 31px
    &:hover 
      color: #aaaaaa