.footer 
  padding: 65px 0 68px
  @media only screen and (max-width: 768px)
    padding: 36px 0
  &__wrapper 
    max-width: 1232px 
    padding: 0 24px
    margin: 0 auto
    @media only screen and (max-width: 1000px)
      flex-direction: column
      align-items: center
  &__block
    p 
      font-size: 16px
    @media only screen and (max-width: 1000px)
      width: 315px
      &:first-child,
      &:last-child
        text-align: center
      &:nth-child(2) 
        border-top: 1px solid #EBEBEB
      &:last-child 
        margin-top: 21px
    @media only screen and (max-width: 380px)
      box-sizing: border-box
      width: 100%
  &__logo 
    width: 123px
    transition: all .2s ease
    position: relative
    &:hover 
      transform: translateY(1px)
    img
      width: 100%
  &__logo-text 
    font-size: 14px!important
    max-width: 467px
    margin-top: 13px!important
    text-align: left
    @media only screen and (max-width: 1000px)
      margin-bottom: 40px!important
    @media only screen and (max-width: 768px)
      font-size: 12px!important
  &__menu
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    max-width: 580px
    max-height: 90px
    margin: 0 20px 
    padding: 0
    @media only screen and (max-width: 1225px)
      max-width: 440px
    @media only screen and (max-width: 1075px)
      max-width: 290px
    @media only screen and (max-width: 1000px)
      flex-direction: column
      max-height: fit-content
      max-width: 100%
      width: 315px
      margin: 0
    @media only screen and (max-width: 380px)
      width: 100%
    li 
      margin: 0
      padding: 0
      height: fit-content
      min-width: 145px
      @media only screen and (max-width: 1000px)
        min-width: 100%
        width: 100%
        border-bottom: 1px solid #EBEBEB
        padding: 8px 0
        &:first-child 
          border-top: 1px solid #EBEBEB
    a 
      font-size: 14px
      transition: all .2s ease
      color: $main__black
      &:hover 
        color: $main__blue
    


.soc
  &--navigation
    display: none
    @media only screen and (max-width: 768px)
      display: block
      align-self: center
      text-align: center
      margin-top: auto
      margin-bottom: 39px
      padding-top: 30px
  &__follow-us
    color: $main__blue
    margin-bottom: 35px!important
    @media only screen and (max-width: 1000px)
      margin-bottom: 20px!important
  &__icons
    width: 89px
    @media only screen and (max-width: 1000px)
      margin: 0 auto
      width: 120px
  &__icon 
    display: block
    height: 16px
    width: 16px
    transition: all .2s ease
    img
      width: 100%
    &:hover 
      filter: brightness(300%)
    @media only screen and (max-width: 1000px)
      width: 22px
      height: 22px