.header 
  padding-top: 31px
  background-position: center
  background-size: cover
  @media only screen and (max-width: 768px)
    padding-top: 0
  &--index 
    border-bottom: 1px solid #efefef
    @media only screen and (max-width: 768px)
      border: none
  &--about-us 
    background-image: url(../img/about-us/header.jpg)
  &--contacts
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/contacts/contacts.jpg)
  &--news
    background-image: url(../img/news/news.jpg)
  &--careers
    background-image: url(../img/careers/header.jpg)
  &--coming-soon
    background-image: url(../img/coming-soon/header.png)

  &__wrapper 
    padding: 0 24px
    &--index 
      margin-top: 76px
      margin-bottom: 78px
      @media only screen and (max-width: 1170px)
        flex-direction: column
        align-items: center
        text-align: center
      @media only screen and (max-width: 768px)
        margin-top: 28px
        margin-bottom: 0
      .ch-title
        @media only screen and (max-width: 768px)
          font-size: 30px
          line-height: 26px
    &--about-us
      padding: 150px 24px
      @media only screen and (max-width: 958px)
        .ch-title
          font-size: 56px
      @media only screen and (max-width: 768px)
        padding: 47px 24px 56px
        .ch-title
          font-size: 27px
          line-height: 27px
      @media only screen and (max-width: 412px)
        .ch-title
          font-size: 20px
    &--contacts
      padding: 180px 24px 320px
      @media only screen and (max-width: 768px)
        padding: 58px 24px 114px
      @media only screen and (max-width: 350px)
        .ch-title
          font-size: 34px
    &--news
      padding: 168px 24px 241px
      @media only screen and (max-width: 768px)
        padding: 57px 24px 109px
      .ch-title
        margin: 0 auto 
      @media only screen and (max-width: 350px)
        .ch-title
          font-size: 34px
    &--careers
      padding: 188px 24px 221px
      @media only screen and (max-width: 768px)
        padding: 58px 24px 114px
    &--document 
      padding: 125px 24px 0
      max-width: 1092px
      margin: 0 auto 
      @media only screen and (max-width: 768px)
        padding: 53px 30px 0
    &--coming-soon
      padding: 151px 24px 121px
      @media only screen and (max-width: 768px)
        padding: 28px 24px 110px
      h1 
        margin-bottom: 70px!important
        @media only screen and (max-width: 768px)
          margin-bottom: 0!important
        @media only screen and (max-width: 360px)
          font-size: 30px

  &__block
    max-width: 561px
    @media only screen and (max-width: 1170px)
      max-width: 100%
      width: 100%
      &:not(:last-child) 
        margin-bottom: 28px
    &--index
      & > *
        &:first-child
          margin-top: 34px
          @media only screen and (max-width: 768px)
            margin-top: 0
        &:nth-child(2)
          margin: 20px 0
    &--index-video
      position: relative
      display: block
      @media only screen and (max-width: 610px)
        // padding-bottom: 56.25%
        video
          width: 100%
          height: auto
      iframe 
        @media only screen and (max-width: 610px)
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0

.admin-bar .header
  padding-top: calc(31px + 32px)  
  @media only screen and (max-width: 782px)
    padding-top: 46px


