.navigation
  max-width: 1287px
  margin: 0 auto
  padding: 0 24px
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  @media only screen and (max-width: 768px)
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.03)
    margin: 0
    padding: 29px 24px
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1)
  &--fixed 
    display: none
    position: fixed
    top: 0  
    left: 0
    box-sizing: border-box
    background-color: $main__white
    width: 100%
    transform: translateY(-100%)
    opacity: 0
    z-index: 198
    @media only screen and (max-width: 768px)
      display: flex
  &--main
    z-index: 199
    position: relative
  &--is-white
    background-color: $main__white
  &__wrapper
    @media only screen and (max-width: 768px)
      position: fixed
      top: 80px
      left: 0
      width: 100%
      height: calc( 100% - 80px )
      overflow: auto
      box-sizing: border-box
      background-color: $main__white
      z-index: 999
      flex-direction: column
      align-items: flex-start
      transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1)
      .ch-button 
        display: none
      &--is-closed
        transform: translateX(-100%)
    &--fixed 
      height: calc(100vh - 80px)
  &__menu
    display: flex 
    flex-direction: row 
    padding: 0
    margin: 0
    @media only screen and (max-width: 768px)
      flex-direction: column
      padding: 0 24px
      width: 100%
      box-sizing: border-box
    &--white
      li 
        a 
          color: $main__white
          @media only screen and (max-width: 768px)
            color: $main__black
    li 
      &:not(:last-child)
        margin-right: 56px
        @media only screen and (max-width: 900px)
          margin-right: 30px
        @media only screen and (max-width: 768px)
          margin-right: 0
      &:last-child 
        margin-right: 38px
        @media only screen and (max-width: 900px)
          margin-right: 18px
        @media only screen and (max-width: 768px)
          margin-right: 0
      @media only screen and (max-width: 768px)
        padding: 14px 0
        border-bottom: 1px solid #DFDFDF
    a
      transition: all .2s ease
      font-size: 15px
      color: $main__black
      &:hover 
        color: $main__blue

.admin-bar .navigation__wrapper
  margin-top: 31px
  @media only screen and (max-width: 782px)
    margin-top: 46px

.admin-bar .navigation--main .navigation__wrapper
  height: calc(100% - 126px)
  margin-top: 0


.logo
  width: 101px
  height: 24px
  transition: all .2s ease
  position: relative
  &:hover 
    transform: translateY(1px)
  @media only screen and (max-width: 900px)
    width: 91px
  &__img--white,
  &__img--black
    position: absolute
    top: 0
    left: 0
    transition: all .2s ease

.burger 
  display: none
  position: relative
  width: 33px
  height: 19px
  @media only screen and (max-width: 768px)
    display: block
  &__line
    width: 100%
    height: 3px
    border-radius: 50px
    background-color: $main__black
    transition: 0.3s cubic-bezier(.51,.01,.1,1.58)
    &--white
      background-color: $main__white
    &--black
      background-color: $main__black
    &--top 
      position: absolute
      top: 0
      left: 0
    &--middle
      margin-top: 8px
      transition: 0.2s cubic-bezier(.51,.01,.1,1.58)
    &--bottom 
      position: absolute
      bottom: 0
      left: 0
    //For script animation
    &--top-is-rotated
      transform: rotate(45deg)
      top: 8px
    &--middle-is-moved
      transform: translateX(-33px)
      opacity: 0
    &--bottom-is-rotated
      transform: rotate(-45deg)
      bottom: 8px
      

    
