
@import "utils/reset"
@import "utils/variables"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/libs"
@import "utils/general"
@import "utils/framework"
  
@import "modules/modules"


body.ch-body 
  font-family: $p__font
  color: $main__black
  font-size: 16px
  font-weight: 300 
  line-height: 25px
  @media only screen and (max-width: 768px)
    line-height: 21px

.container 
  max-width: 1172px
  margin: 0 auto 
  &--narrow
    max-width: 958px


.is-hidden
  opacity: 0 
  visibility: hidden
.is-fixed
  overflow: hidden

//Fonts script
.fs
  position: relative
  margin: 0 auto
  span 
    position: absolute
    left: 0
    right: 0
    overflow: hidden
    i
      font-style: normal
      display: block
  & > * 
    &:first-child
      bottom: -9px
      height: 17px
      animation-delay: .1s
      @media only screen and (max-width: 768px)
        bottom: -11px
      i 
        transform: translateY(-72%)
    &:nth-child(2)
      bottom: -16px
      height: 14px
      animation-delay: .5s
      @media only screen and (max-width: 768px)
        bottom: -13px
      i 
        transform: translateY(-80%)
    &:nth-child(3)
      bottom: -33px
      height: 17px
      animation-delay: .9s
      @media only screen and (max-width: 768px)
        bottom: -20px
      i 
        transform: translateY(-72%)
    &:nth-child(4)
      bottom: -43px
      height: 17px
      animation-delay: 1.3s
      @media only screen and (max-width: 768px)
        bottom: -25px
      i 
        transform: translateY(-80%)
    &:nth-child(5)
      bottom: -53px
      height: 14px
      animation-delay: 1.7s
      @media only screen and (max-width: 768px)
        bottom: -26px
      i 
        transform: translateY(-80%)
.zero-bottom
  transform: translateY(-100%)
  opacity: 0
    
    
