include ../modules/header/about

section.our-story
 .our-story__wrapper.flex.row
  .our-story__block
    .our-story__img-wrapper
      .our-story__img
        img(src="static/img/about-us/story.jpg", alt="Our story")
  .our-story__block
    h2.ch-title.up Our story
    .our-story__block-text
      p EX.CO (formerly known as Playbuzz) is a Disney backed tech platform used by businesses and publishers worldwide to create their best performing content. Founded in 2012, our belief has always been that content should make an impact and deliver results. 
      p The EX.CO platform enables partners to author content experiences that engage audiences, generate leads and gather meaningful insights about their audience for targeting and segmentation

section.experience
  h2.ch-title.text-center.up Speaking from experience
  .experience__wrapper 
    .experience__right.flex.jcc.aic
      img(src="static/img/index/brands-arrow.svg", alt="Right")
    .experience__left.flex.jcc.aic
      img(src="static/img/index/brands-arrow.svg", alt="Left") 
    .experience__slider 
      .experience__slide
        .experience__slide-img 
          img(src="static/img/about-us/nfl.png", alt="NFL")
        .experience__slide-text
          p “Organizations can create a private cloud environment using the CA AppLogic cloud platform, and then leverage run-time to on-board their mission critical applications. We expect partners like GigaSpaces to continue to find new avenues and opportunities for their services and solutions through our growing Cloud Commons network.”
      .experience__slide
        .experience__slide-img 
          img(src="static/img/about-us/nfl.png", alt="NFL")
        .experience__slide-text
          p “Organizations can create a private cloud environment using the CA AppLogic cloud platform, and then leverage run-time to on-board their mission critical applications. We expect partners like GigaSpaces to continue to find new avenues and opportunities for their services and solutions through our growing Cloud Commons network.”
      .experience__slide
        .experience__slide-img 
          img(src="static/img/about-us/nfl.png", alt="NFL")
        .experience__slide-text
          p “Organizations can create a private cloud environment using the CA AppLogic cloud platform, and then leverage run-time to on-board their mission critical applications. We expect partners like GigaSpaces to continue to find new avenues and opportunities for their services and solutions through our growing Cloud Commons network.”
      .experience__slide
        .experience__slide-img 
          img(src="static/img/about-us/nfl.png", alt="NFL")
        .experience__slide-text
          p “Organizations can create a private cloud environment using the CA AppLogic cloud platform, and then leverage run-time to on-board their mission critical applications. We expect partners like GigaSpaces to continue to find new avenues and opportunities for their services and solutions through our growing Cloud Commons network.”

section.brace.brace--about-us
  .brace__img#scene(data-scalar-x="100",data-scalar-y="0" ) 
    .brace__img--about-us(data-depth="0.2")
  h2.ch-title.ch-title--white.text-center.up Our numbers 
  .brace__wrapper.brace__wrapper--about-us.flex.jcsb.fww 
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white 1 MIN
      .brace__item-title EVERY 1 MINUTE
      p.text--white A new EX.CO experience is created
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white 20K
      .brace__item-title engagements
      p.text--white Powered by EX.CO per minute
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white 16K+
      .brace__item-title COMPANIES
      p.text--white Engage their audience with EX.CO powered content
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white 40+
      .brace__item-title LANGUAGES
      p.text--white EX.CO content was created in

include ../modules/come-say-hi





