include ../modules/header/careers

section.careers 
  h2.ch-title JOIN THE EX.CO EXPERIENCE
  p Teamwork is at the heart of everything we do. Happy hours are our specialty, creativity and passion run wild, and writing on the walls is the norm. Check out our open positions below and join us in reinventing the way businesses create content worldwide! 
 
include ../modules/come-say-hi