include ../modules/header/coming-soon
section.coming-soon-subscribe
  .subscribe.subscribe--body
    p.text-center Subscribe to our newsletter
    form.subscribe__form#subscribe-2(method="get" novalidate="novalidate")
      input(type="email", placeholder="Enter your Email here" required).subscribe__input
      p.subscribe__error.is-hidden
        img(src="static/img/exclamation.svg", alt="Error")
        span.subscribe__error-span Message
      input(type="submit", value="Get in touch").subscribe__submit.ch-button.ch-button--standard