include ../modules/header/contacts

section.form 
  form.form__form.flex.column#contacts(method="get" novalidate="novalidate")
    .form__wrapper.flex.jcsb
      .form__block 
        .form__field.form__field--name
          label(for="name").form__label Full Name
          input(type="text", name="name" required).form__input#name
          .form__circle.form__circle--name 
          p.form__error.form__error--name.is-hidden Message
          img(src="static/img/exclamation.svg", alt="Error").form__exclamation.form__exclamation--name.is-hidden
        .form__field.form__field--email
          label(for="email").form__label Email
          input(type="email", name="email" required).form__input#email
          .form__circle.form__circle--email
          p.form__error.form__error--email.is-hidden Message
          img(src="static/img/exclamation.svg", alt="Error").form__exclamation.form__exclamation--email.is-hidden
        .form__field 
          label(for="website").form__label Website
          input(type="text", name="website").form__input#website
      .form__block 
        .form__field.form__field--subject
          .form__circle.form__circle--select  
          p.form__error.form__error--select.is-hidden Message
          img(src="static/img/exclamation.svg", alt="Error").form__exclamation.form__exclamation--select.is-hidden
          select.custom-select.form__input#subject(name="subject" placeholder="Subject", required)
            option(value="I want to know more") I want to know more
            option(value="Business Partnership") Business Partnership
            option(value="Publisher related") Publisher related
            option(value="Billing") Billing
            option(value="Technical support") Technical support
            option(value="Careers") Careers
            option(value="PR") PR
            option(value="Other") Other
        .form__field 
          label(for="company").form__label Company name
          input(type="text" name="company").form__input#company
        .form__field 
          label(for="phone").form__label Phone number
          input(type="number", name="phone" onkeydown="return event.keyCode !== 69").form__input#phone
    textarea(name="", cols="30", rows="10", placeholder="How can we help you?").form__textarea
    input(type="submit", value="Submit").ch-button.ch-button--standard.ch-button--centered



include ../modules/come-say-hi
