include ../modules/header/documents

section.document 
  .document__wrapper 
    h3 MOAT
    p Playbuzz-powered campaigns average a 97%+ in-item viewability, confirmed by MOAT.
    h3 WHITE OPS
    p Playbuzz-powered campaigns attract 99% human, non-fraudulent traffic as confirmed by White Ops.
    h3 Ads.txt
    p Playbuzz works with partners that uphold ads.text protocol as part of our commitment to promoting an efficient, effective and transparent publishing environment. Ads.txt, an IAB initiative, stands for Authorised Digital Sellers and is a simple, flexible and secure method that publishers and distributors can use to publicly declare the companies they authorize to sell their digital inventory, in order to improve transparency for programmatic buyers.
    h3 Hi there!
    p We prepared this Privacy Policy and 
      a(href="") Cookie Policy 
      | (which is incorporated herein) to explain to you how and why we collect Personal Information (meaning, any information which identifies or may potentially identify you with reasonable means) about you when you are using our Platform.
    p The Privacy Policy and 
      a(href="") Cookie Policy 
      | are a part of the 
      a(href="") Terms 
      | and are incorporated therein by references. The definitions which appear in this document shall have the meaning ascribed to them in our 
      a(href="") Terms.
    p We encourage you to review the following information carefully.
    .document__separator
    h3 How do we receive information about you?
    p We receive information (including Personal Information) about you from various sources:
    ul 
      li If you voluntarily provide us your personal details within the Platform (for example by registering to create a Playbuzz Account or by subscribing to our newsletter);
      li If you use or access our Platform (for example by visiting our Website or the Embedded Items, by contributing content to our Platform or by clicking on certain content or on advertisements);
      li From third party websites and services (for example we may receive information from the websites, social network platforms or applications on which the Embedded Items are included).


    h3 Brand Safety Pledge
    p Playbuzz is committed to the highest standards of brand safety and consumer privacy. Playbuzz, as a platform which allows for the creation of user generated content (UGC), is generally not the entity creating the content but rather providing the technology platform on which to create it. That being said, the majority of the content created using the Playbuzz platform is created by professional content creators on behalf of premium media owners. Playbuzz employs the following precautions in relation to the minimization of ads appearing against inflammatory content:
    p 1. Playbuzz operates a fully curated and signed-off white list with advertisers and demand partners.
    p 2. Playbuzz employs keyword filtering on domain level: we block inflammatory keywords that are gathered from the actual referral (regarding Branded Experiences ads).
    p 3. Playbuzz employs other commercially reasonable endeavors (including but not limited to contractual arrangements, utilization of Authorized Digital Sellers, etc.) to minimize objectionable ads on its owned & operated (O&O) domains.
    p 4. Playbuzz uses 3rd party traffic and content verification tools

    h3 What kinds of information do we collect?
    p Depending on which features of the Platform you use, we collect different kinds of information (including Personal Information) about or from you. This Personal Information is necessary for the performance of our contractual obligations towards you and providing you with our services, to protect our legitimate interests, as well as for compliance with regulatory obligations to which we are subject. If this information will not be provided, you may not be able to use our Platform (such as opening a Playbuzz Account), or certain features of our Platform. In certain instances, we will obtain your consent to the collection of your Personal Information, as appropriate (in which case, you can revoke your consent at any time by approaching us).

    ul 
      li Personal Information –
        p We, as well as certain third parties, may collect Personal Information as follows:
        ul 
          li Contact information – this includes your name, email address, your photograph and other information you provide during your registration to the Platform. If you register to our Platform through a social network platform (for example Facebook or Google+), you will provide us access to any information you made available on that platform (depending on your privacy settings) and any additional information that you specifically consent to provide us with.
          li Technical information – this includes certain technical Personal Information that is recorded when you use our Platform and/or our services (including when you interact with Embedded Items and/or with advertisements), such as your IP address, GCM Registration ID, your browsing activity and actions on our Platform (such as recording of your mouse movements) and your device approximate location.
          li User Content you contribute to our Platform – this includes User Content that you publish or contribute to our Platform (for example comments that you have posted, or content that you have uploaded through your Playbuzz Account). If your use of our Platform involves certain financial transactions (for example, if you are an advertiser, publisher, partner or customer, with whom we have contractually engaged) we collect information about the transaction. This can include your payment information (for example, your credit card number and other card information), billing, and contact details, as well as other authentication information.
