include ../modules/header/index

section.engage 
  h2.ch-title.up.text-center Engage your audience with content experiences
  .engage__wrapper--desktop.flex.row.fww 
    ul.engage__list 
      li(data-engage-item='1').engage__item.up.engage__item--active Flip card
      li(data-engage-item='2').engage__item.up Poll
      li(data-engage-item='3').engage__item.up Personality quiz
      li(data-engage-item='4').engage__item.up Trivia
      li(data-engage-item='5').engage__item.up Quote
      li(data-engage-item='6').engage__item.up Convo
      li(data-engage-item='7').engage__item.up Ranked list
      li(data-engage-item='8').engage__item.up Summary card
      li(data-engage-item='9').engage__item.up Lead generation 
      li.engage__item-see-all
        a(href="") See all
    
    .engage__photo-block
      .engage__photo 
        .engage__photo-wrapper.playbuzz(data-engage-photo='1' data-id="4d3b62dc-2227-49e1-bdad-33d7aceec8f2" data-comments="false") 
          img(src="https://picsum.photos/626/528?random=1", alt="Flip card")
        .engage__photo-wrapper.playbuzz.engage__photo-wrapper--is-hidden(data-engage-photo='2' data-id="4bd20e82-f0f7-4c01-a3dd-2977cc81788a" data-comments="false") 
          img(src="https://picsum.photos/626/508?random=2", alt="Poll")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='3')  
          img(src="https://picsum.photos/626/528?random=3", alt="Personality quiz")
        .engage__photo-wrapper.playbuzz.engage__photo-wrapper--is-hidden(data-engage-photo='4' data-id="bac5408a-223b-4550-98be-4ae7ff98e256" data-show-share="false" data-show-info="false" data-comments="false")  
          img(src="https://picsum.photos/626/508?random=4", alt="Trivia")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='5')  
          img(src="https://picsum.photos/626/528?random=5", alt="Quote")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='6')  
          img(src="https://picsum.photos/626/508?random=6", alt="Convo")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='7')  
          img(src="https://picsum.photos/626/528?random=7", alt="Ranked list")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='8')  
          img(src="https://picsum.photos/626/508?random=8", alt="Summary card")
        .engage__photo-wrapper.engage__photo-wrapper--is-hidden(data-engage-photo='9')  
          img(src="https://picsum.photos/626/528?random=9", alt="Lead generation")
      p.text-center Let readers share their opinion by having them vote to see how their views compare with others'.
      a(href="").ch-button.ch-button--standard.ch-button--centered Create
  .engage__wrapper--mobile 
    .engage__slider
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=1", alt="Flip card")
        .engage__item.up Flip card
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=2", alt="Poll")
        .engage__item.up Poll
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=3", alt="Personality quiz")
        .engage__item.up Personality quiz
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=4", alt="Trivia")
        .engage__item.up Trivia
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=5", alt="Quote")
        .engage__item.up Quote
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=6", alt="Convo")
        .engage__item.up Convo
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=7", alt="Ranked list")
        .engage__item.up Ranked list
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=8", alt="Summary card")
        .engage__item.up Summary card
      .engage__slide 
        .engage__slide-photo
          img(src="https://picsum.photos/626/508?random=9", alt="Lead generation")
        .engage__item.up Lead generation
    p.text-center Let readers share their opinion by having them vote to see how their views compare with others'.
  
section.deliver 
  .container.container--narrow 
    h2.ch-title.up.text-center Deliver value you can measure
    .deliver__wrapper.flex.fww.jcsb.aic 
      .deliver__item 
        .deliver__item-img 
          img(src="static/img/index/deliver-1.svg", alt="Engagement")
        h3.deliver__item-title.up Engagement
        p Grab users' attention while keeping your brand top of mind.
      .deliver__separator
      .deliver__item 
        .deliver__item-img 
          img(src="static/img/index/deliver-2.svg", alt="Conversion")
        h3.deliver__item-title.up Conversion
        p Add engaging conversion experiences to make sure your content always hits your goals
      .deliver__separator
      .deliver__item 
        .deliver__item-img 
          img(src="static/img/index/deliver-2.svg", alt="Insights")
        h3.deliver__item-title.up Insights
        p Easily segment your audience and understand what interests them.

section.brands 
  h2.ch-title.up.text-center Loved By Content Pros Worldwide
  .brands__wrapper 
    .brands__right.flex.jcc.aic
      img(src="static/img/index/brands-arrow.svg", alt="")
    .brands__left.flex.jcc.aic
      img(src="static/img/index/brands-arrow.svg", alt="") 
    .brands__slider
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/1.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/2.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/3.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/4.jpg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/5.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/6.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/7.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/8.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/9.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/10.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/11.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/12.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/13.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/14.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/15.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/7.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/8.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/9.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/10.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/11.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/12.svg", alt="Brand name")
      .brands__slide.flex.column.jcsb 
        .brands__brand 
          img(src="static/img/index/brands/13.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/14.svg", alt="Brand name")
        .brands__brand 
          img(src="static/img/index/brands/15.svg", alt="Brand name")
      
section.brace.brace--index
  .brace__img#scene(data-scalar-x="100",data-scalar-y="0" ) 
    .brace__img--index(data-depth="0.2")
  h2.ch-title.ch-title--white.text-center.up Brace for impact 
  .brace__wrapper.flex.jcsb.fww 
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white.fs(data-row='2', data-speed='2000') 7x
      .brace__item-title Purchase intent 
      p.text--white Compared to industry average as measured by Nielsen
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white.fs(data-row='2', data-speed='2000') 76%
      .brace__item-title engagement rate
      p.text--white Compared to 52% industry average
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white.fs(data-row='2', data-speed='2000') 2+
      .brace__item-title MINUTES
      p.text--white Average dwell time
    .brace__item 
      h2.ch-title.ch-title--big.ch-title--white.fs(data-row='2', data-speed='2000') 85%
      .brace__item-title SCROLL DEPTH
      p.text--white Double the industry average of 47.5%
  



