include ../modules/header/news

section.news-slider 
  .news-slider__wrapper   
    .news-slider__arrow-right
      img(src="static/img/arrow.svg", alt="")
    .news-slider__arrow-left
      img(src="static/img/arrow.svg", alt="")
    .news-slider__slider  
      .news-slider__slide
        .news-slider__img 
          img(src="static/img/news/article.png", alt="")
        .news-slider__info.flex.column.jcsb
          h2.ch-title Which Stranger Things Hottie Is Your Forever Boyfriend?
          .news-slider__row.flex.row.aic
            .news-slider__meta-wrapper
              .news-slider__logo 
                img(src="https://picsum.photos/565/316?random=2", alt="")
              .news-slider__meta.flex.column
                p Alana Garcia
                p October 25, 2019
            a(href="").ch-button.ch-button--standard.ch-button--small Read more
      .news-slider__slide
        .news-slider__img 
          img(src="static/img/news/article.png", alt="")
        .news-slider__info.flex.column.jcsb
          h2.ch-title Which Stranger Things Hottie Is Your Forever Boyfriend?
          .news-slider__row.flex.row.aic
            .news-slider__meta-wrapper
              .news-slider__logo 
                img(src="https://picsum.photos/565/316?random=4", alt="")
              .news-slider__meta.flex.column
                p Alana Garcia
                p October 25, 2019
            a(href="").ch-button.ch-button--standard.ch-button--small Read more
      .news-slider__slide
        .news-slider__img 
          img(src="static/img/news/article.png", alt="")
        .news-slider__info.flex.column.jcsb
          h2.ch-title Which Stranger Things Hottie Is Your Forever Boyfriend?
          .news-slider__row.flex.row.aic
            .news-slider__meta-wrapper
              .news-slider__logo 
                img(src="https://picsum.photos/565/316?random=6", alt="")
              .news-slider__meta.flex.column
                p Alana Garcia
                p October 25, 2019
            a(href="").ch-button.ch-button--standard.ch-button--small Read more

section.news 
  .news__wrapper.flex.fww.jcsb
    .news__item 
      .news__img 
        img(src="static/img/news/1.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img
            img(src="https://picsum.photos/565/316?random=11", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=12", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
    .news__item 
      .news__img 
        img(src="static/img/news/2.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img 
            img(src="https://picsum.photos/565/316?random=14", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=15", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
    .news__item 
      .news__img 
        img(src="static/img/news/3.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img 
            img(src="https://picsum.photos/565/316?random=17", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=1", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
    .news__item 
      .news__img 
        img(src="static/img/news/1.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img 
            img(src="https://picsum.photos/565/316?random=3", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=4", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
    .news__item 
      .news__img 
        img(src="static/img/news/2.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img 
            img(src="https://picsum.photos/565/316?random=6", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=7", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
    .news__item 
      .news__img 
        img(src="static/img/news/3.png", alt="")
      .news__info.flex.column.jcsb 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic
          .news__meta-img 
            img(src="https://picsum.photos/565/316?random=9", alt="")
          .news__meta-info 
            p Author Name
            p October 25, 2019
      .news__hover 
        h3 EX.CO Raises $35 Million To Grow Content Creation Platform
        .news__meta-box.flex.row.aic 
          .news__meta-img.news__meta-img--hover 
            img(src="https://picsum.photos/565/316?random=1", alt="")
          .news__meta-info.news__meta-info--hover 
            p Author Name
            p October 25, 2019
        .news__hover-separator 
        a(href="").ch-button.ch-button--white.ch-button--small.ch-button--centered Read more
  a(href="").news__load-more Loading More...
            