section.header.header--about-us 
  include navigation-white
  .header__wrapper.header__wrapper--about-us
    h1.ch-title.ch-title--white.ch-title--big.text-center.up We are the 
      br 
      .fs(data-row='5', data-speed='2000') experience company