section.header.header--coming-soon
  include navigation-white
  .header__wrapper.header__wrapper--coming-soon
    h1.ch-title.ch-title--white.ch-title--big.text-center.up.fs(data-row='5', data-speed='2000') coming soon
    .subscribe.subscribe--header
      p.text-center.text--white Subscribe to our newsletter
      form.subscribe__form#subscribe-1(method="get" novalidate="novalidate")
        input(type="email", placeholder="Enter your Email here" required).subscribe__input
        p.subscribe__error.is-hidden
          img(src="static/img/exclamation.svg", alt="Error")
          span.subscribe__error-span Message
        input(type="submit", value="Get in touch").subscribe__submit.ch-button.ch-button--standard