section.header.header--index 
  include navigation-black
  .container
    .header__wrapper.header__wrapper--index.flex.fww
      .header__block.header__block--index
        h1.ch-title.ch-title--blue.ch-title--big.up Content That Makes An Impact
        p Use the EX.CO platform to turn your content into an unforgettable experience that drives meaningful results. 
        a.ch-button.ch-button--standard.ch-button--centered Get Started
      .header__block.header__block--index-video 
        iframe(width="560" height="390" src="https://www.youtube.com/embed/71Q_uEIGrlk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)