.navigation.navigation--main.flex.row.jcsb.aic
  a(href="index.html").logo
    img(src="static/img/logo-white.svg", alt="ex-co").logo__img--white
    img(src="static/img/logo-black.svg", alt="ex-co").logo__img--black.is-hidden
  .navigation__wrapper.navigation__wrapper--main.flex.row.aic.navigation__wrapper--is-closed
    ul.navigation__menu.navigation__menu--white
      li 
        a(href="#") Businesses
      li 
        a(href="#") Publishers
      li 
        a(href="#") Pricing
      li 
        a(href="about-us.html") About us
      li 
        a(href="contacts.html") Contact
    button.ch-button.ch-button--bordered-white Sing up
    .soc.soc--navigation.flex.column
      p.soc__follow-us Follow us 
      .soc__icons.flex.jcsb
        a(href="").soc__icon
          img(src="static/img/footer/si-1.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-2.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-3.svg", alt="")
  .burger.burger--main
    .burger__line.burger__line--white.burger__line--top
    .burger__line.burger__line--white.burger__line--middle
    .burger__line.burger__line--white.burger__line--bottom

.navigation.navigation--fixed.navigation-is-hidden.flex.row.jcsb.aic
  a(href="index.html").logo
    img(src="static/img/logo-black.svg", alt="ex-co")
  .navigation__wrapper.navigation__wrapper--fixed.flex.row.aic.navigation__wrapper--is-closed
    ul.navigation__menu
      li 
        a(href="#") Businesses
      li 
        a(href="#") Publishers
      li 
        a(href="#") Pricing
      li 
        a(href="about-us.html") About us
      li 
        a(href="contacts.html") Contact
    button.ch-button.ch-button--bordered Sing up
    .soc.soc--navigation.flex.column
      p.soc__follow-us Follow us 
      .soc__icons.flex.jcsb
        a(href="").soc__icon
          img(src="static/img/footer/si-1.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-2.svg", alt="")
        a(href="").soc__icon
          img(src="static/img/footer/si-3.svg", alt="")
  .burger.burger--fixed 
    .burger__line.burger__line--top
    .burger__line.burger__line--middle
    .burger__line.burger__line--bottom