section.header.header--news
  include navigation-white
  .header__wrapper.header__wrapper--news
    h1.ch-title.ch-title--white.ch-title--big.text-center.up.fs(data-row="5", data-speed="2000") Latest news 