.get-engaged 
  background-color: $main__blue
  padding: 110px 0 113px
  text-align: center
  @media only screen and (max-width: 768px)
    padding: 75px 24px
  .ch-title 
    margin-bottom: 40px
  &__wrapper 
    padding: 10px 0 14px
    @media only screen and (max-width: 768px)
      padding: 10px 0 38px
  p
    color: $main__white
    a 
      font-weight: 600
      color: $main__white

.brace 
  background-size: cover
  background-position: center
  position: relative
  overflow: hidden
  &--index
    background-image: url(../img/index/brace.jpg)
    padding: 78px 24px 135px
    @media only screen and (max-width: 768px)
      padding: 46px 24px 56px
  &--about-us
    background-image: url(../img/about-us/party-1.jpg)
    padding: 100px 0 204px
    @media only screen and (max-width: 768px)
      padding: 30px 24px 40px
  &__img 
    background-size: cover
    background-position: center
    position: absolute
    top: 0
    left: 36%
    height: 100%
    width: 200px
    @media only screen and (max-width: 1000px)
      display: none
    &--index
      background-image: url(../img/index/salut-2.jpg)
      height: 100%
      width: 100%
    &--about-us
      background-image: url(../img/about-us/party-2.jpg)
      height: 100%
      width: 100%
  &__wrapper 
    max-width: 1170px
    margin: 82px auto 0
    position: relative
    @media only screen and (max-width: 1000px)
      flex-direction: column  
      align-items: center
    @media only screen and (max-width: 768px)
      margin: 0 auto
      h2.ch-title 
        font-size: 53px
    &--about-us
      margin-top: 118px
      @media only screen and (max-width: 768px)
        margin-top: 31px
  &__item 
    text-align: center
    max-width: 252px
    @media only screen and (max-width: 1000px)
      padding: 30px 
      width: 252px
      &:not(:last-child)
        border-bottom: 1px solid rgba(255, 255, 255, .3)
    @media only screen and (max-width: 350px)
      max-width: 100%
      width: 100%
      box-sizing: border-box
  &__item-title
    font-family: $m__font
    font-size: 21px
    font-weight: 600
    text-transform: uppercase
    color: #06dcf9
    margin: 50px 0 10px
    @media only screen and (max-width: 768px)
      margin: 21px 0
      font-size: 16px

.hi
  padding: 56px 24px 108px
  background-color: #FCFCFC
  @media only screen and (max-width: 768px)
    padding: 30px 24px
  &__wrapper
    max-width: 1130px 
    margin: 62px auto 0
    @media only screen and (max-width: 1160px)
      justify-content: center
      max-width: 600px
    @media only screen and (max-width: 768px)
      flex-direction: column
      align-items: center
      margin: 30px auto 0
      max-width: 328px 
  &__item
    box-sizing: border-box 
    width: 270px
    height: 273px
    position: relative
    overflow: hidden
    background-size: cover
    background-position: center 
    background-repeat: no-repeat
    &:hover 
      .hi__item-hover
        opacity: 1
        visibility: visible
        transform: translateX(0)
    @media only screen and (max-width: 1160px)
      margin: 10px
    @media only screen and (max-width: 768px)
      width: 328px
      height: 145px
      border-radius: 5px
      overflow: visible
      margin: 0
      &:not(:last-child)
        margin-bottom: 16px
    @media only screen and (max-width: 390px)
      width: 100%
  &__item-title 
    font-family: $m__font
    font-size: 35px
    line-height: 35px 
    font-weight: 800
    color: $main__white
    display: block
    text-transform: uppercase
    text-align: center
    @media only screen and (max-width: 768px)
      max-width: 210px
  &__item-hover 
    background-color: #A036F7
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    padding: 60px 40px
    box-sizing: border-box
    opacity: 0
    transform: translateX(-5%)
    visibility: hidden
    transition: all .4s ease
    @media only screen and (max-width: 768px)
      display: none
    & > *
      &:nth-child(2)
        margin: 16px 0 6px
    h4 
      font-family: $m__font
      color: $main__white
      font-size: 21px
      font-weight: 600
      max-width: 100px
      @media only screen and (max-width: 768px)
        font-size: 16px
        color: $main__black
        max-width: 100%
    p 
      font-size: 14px
      color: $main__white
      line-height: 20px
      @media only screen and (max-width: 768px)
        color: $main__black
  &__item-info 
    display: none
    @media only screen and (max-width: 768px)
      display: block
      align-self: flex-start
      &:not(:last-child)
        margin-bottom: 41px
      & > *
        &:first-child 
          margin-bottom: 16px

