.subscribe
  &__form
    margin: 24px auto 0
    position: relative
    max-width: 445px
    @media only screen and (max-width: 1000px)
      margin-top: 14px
      margin-bottom: 45px
  &--header
    @media only screen and (max-width: 768px)
      display: none
  &--body
    display: none
    @media only screen and (max-width: 768px)
      display: block
      margin-top: 25px
      padding: 0 24px
  &__submit 
    position: absolute
    top: 3px
    right: 3px
    @media only screen and (max-width: 1222px)
      padding: 7px 21px
    @media only screen and (max-width: 380px)
      right: 3px
  &__input
    color: rgba(0,0,0,0.51)	
    font-family: $p__font
    font-size: 16px	
    font-weight: 300
    line-height: 25px
    background-color: #f5f5f5
    border: none
    outline: none
    border-radius: 21px
    padding: 9px 30px 11px
    width: 100%
    box-sizing: border-box
    @media only screen and (max-width: 1222px)
      width: 100%
    @media only screen and (max-width: 400px)
      padding: 9px 20px 11px
    @media only screen and (max-width: 380px)
      width: 100%
      font-size: 14px
  input::placeholder
    color: rgba(0,0,0,0.51)	
    @media only screen and (max-width: 360px)
      font-size: 10px
  &__error
    position: absolute!important
    left: 26px!important
    bottom: -25px!important
    color: $main__white
    font-family: $p__font 
    font-size: 10px!important
    font-weight: normal 
    font-stretch: normal 
    font-style: normal 
    line-height: 2.1 
    letter-spacing: 0.5px 
    display: flex
    align-items: center
    img
      width: 14px
      margin-right: 5px
#subscribe-2
  .subscribe__error
    color: $main__black

.form 
  background-color: #FCFCFC
  padding-bottom: 20px
  position: relative
  min-height: 455px
  @media only screen and (max-width: 768px)
    min-height: 720px
  &__form 
    max-width: 1130px
    margin: 0 auto
    padding: 67px 77px 43px
    background-color: $main__white
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.03)
    box-sizing: border-box
    position: absolute
    border-radius: 3px
    left: 0
    right: 0
    top: -170px
    trasform: translateX(-50%)
    @media only screen and (max-width: 1150px)
      margin: 0 12px
      padding: 30px 17px 44px
    @media only screen and (max-width: 768px)
      top: -43px
  &__wrapper 
    @media only screen and (max-width: 768px)
      flex-direction: column
      align-items: center
  &__block 
    width: 450px
    @media only screen and (max-width: 768px)
      width: 100%
  &__field
    position: relative
    @media only screen and (max-width: 1150px)
      margin: 0 24px
  &__circle
    width: 5px
    height: 5px
    background-color: $main__blue
    border-radius: 50%
    position: absolute
    top: 23px
    left: -20px
    transition: all .2s ease
  &__error
    position: absolute
    bottom: 0
    left: 0
    font-family: $p__font  
    font-size: 10px  
    font-weight: normal  
    font-stretch: normal  
    font-style: normal  
    line-height: 2.1  
    letter-spacing: 0.5px  
    color: $main__black
    transition: all .2s ease
  &__exclamation
    position: absolute
    top: 13px
    right: 0
    width: 24px
    transition: all .2s ease
    &--select 
      right: 30px
      z-index: 9
  &__label
    position: absolute 
    left: 0 
    top: 13px 
    pointer-events: none 
    transition: all .1s ease
  &__label-is-active
    top: -10px
    font-size: 12px
  &__input 
    border: none
    border-bottom: 1px solid rgba(0,0,0,0.27)
    outline: none
    background: transparent
    width: 100%
    box-sizing: border-box
    padding: 14px 0
    margin-bottom: 23px
    font-size: 16px
  &__textarea
    margin: 67px 0 38px
    outline: none
    border: 1px solid rgba(0,0,0,0.27)
    border-radius: 3px
    resize: none
    padding: 14px
    box-sizing: border-box
    font-size: 16px
    max-height: 157px
    @media only screen and (max-width: 768px)
      margin: 34px 0 38px

  textarea::placeholder
    color: rgba(0,0,0,0.21)	
    font-size: 16px
// Disable arrows in number input
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
  appearance: none
  margin: 0



// CUSTOM SELECT
.custom-select-wrapper
  position: relative
  display: inline-block
  user-select: none
  max-width: 100%
  width: 100%
.custom-select-wrapper select
  display: none
.custom-select
  position: relative
  display: inline-block
  width: 100%
  padding: 13.5px 0
.custom-select-trigger
  position: relative
  display: block
  width: 100%
  font-size: 16px
  background: #fff
  border-radius: 4px
  cursor: pointer
  box-sizing: border-box
  border: none
  height: 20px
.custom-select-trigger:after
  position: absolute
  display: block
  content: ''
  width: 12px 
  height: 12px
  top: 50% 
  right: 4px
  border-bottom: 1px solid #000
  border-right: 1px solid #000
  transform: rotate(45deg) translateY(-50%)
  transition: all .2s ease
  transform-origin: 50% 0
.custom-select.opened .custom-select-trigger:after
  margin-top: 8px
  transform: rotate(-135deg) translateY(-50%)
.custom-options
  position: absolute
  display: block
  top: 100% 
  left: 0 
  right: 0
  min-width: 100%
  margin: 5px 0 0
  border: none
  background-color: $main__white
  border-radius: 4px
  box-sizing: border-box
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
  background: #fff
  transition: all .2s ease
  opacity: 0
  visibility: hidden
  pointer-events: none
  transform: translateY(-15px)
  z-index: 9999
  height: 215px
  overflow: auto
.custom-select.opened .custom-options
  opacity: 1
  visibility: visible
  pointer-events: all
  transform: translateY(0)
.option-hover:before
  background: #f9f9f9
.custom-option
  position: relative
  display: block
  padding: 0 8px
  border: none
  font-size: 16px
  text-align: left
  color: $main__black
  line-height: 39px
  height: 39px
  cursor: pointer
  transition: all .2s ease
.custom-option:hover,
.custom-option.selection
  background-color: #f5f5f5 

// CUSTOM SELECT end