@font-face 
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2') 
  font-weight: 500 
  font-style: normal 
@font-face  
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-Light.woff2') format('woff2') 
  font-weight: 300 
  font-style: normal 
@font-face  
  font-family: 'Poppins' 
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2') 
  font-weight: 600 
  font-style: normal 
@font-face  
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2') 
  font-weight: normal 
  font-style: normal 
@font-face  
  font-family: 'Poppins' 
  src: url('../fonts/Poppins-Light.woff2') format('woff2') 
  font-weight: 300 
  font-style: normal 
@font-face  
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2') 
  font-weight: bold 
  font-style: normal 
@font-face  
  font-family: 'Poppins' 
  src: url('../fonts/Poppins-Regular.woff2') format('woff2') 
  font-weight: normal 
  font-style: normal 
@font-face  
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2') 
  font-weight: 800 
  font-style: normal 
@font-face  
  font-family: 'Montserrat' 
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2') 
  font-weight: 600 
  font-style: normal 
 

