.ch-button
  font-family: Poppins
  font-size: 15px	
  font-weight: 300
  line-height: 23px	
  text-align: center
  width: fit-content
  cursor: pointer
  transition: all .2s ease
  border-radius: 19px
  padding: 7px 34px
  display: block
  outline: none
  background-color: transparent
  &--standard
    border: 1px solid $main__violet
    background-color: $main__violet
    color: $main__white
    &:hover 
      background-color: #a036f7
      border-color: #a036f7
  &--bordered 
    border: 1px solid $main__blue
    color: $main__blue
    &:hover 
      color: $main__white
      background-color: $main__blue
  &--bordered-white
    border: 1px solid $main__white
    color: $main__white
    &:hover 
      color: $main__blue
      background-color: $main__white
  &--white 
    border: 1px solid $main__white
    color: $main__blue
    background-color: $main__white
    &:hover 
      color: $main__white
      background-color: $main__blue
  &--centered
    margin: 0 auto
  &--small 
    padding: 7px 21px

.ch-title
  font-family: $m__font
  font-weight: 600
  letter-spacing: 1px	
  line-height: 40px
  font-size: 35px
  position: relative
  @media only screen and (max-width: 768px)
    font-size: 26px
    line-height: 28px
  &--big
    font-size: 70px
    font-weight: 800
    line-height: 65px
    @media only screen and (max-width: 768px)
      font-size: 38px
      line-height: 41px
  &--document 
    font-weight: 800 
    font-size: 47px
    letter-spacing: -0.3px
    line-height: normal
    max-width: 700px
    @media only screen and (max-width: 768px)
      font-size: 34px
  &--blue 
    color: $main__blue
  &--white
    color: $main__white
 
.text
  .text--small 
    font-size: 14px
  &--white 
    color: $main__white
  
.up 
  text-transform: uppercase